extends layout 

block content
    .w3-card-4
        .w3-container.w3-yellow
            h1 Compositor #{comp.id}
        .w3-container
            ul.w3-ul.w3-card-4(style="width:50%")
                li 
                    b Nome: 
                    p #{comp.nome}
                li 
                    b Número: 
                    p #{comp.id}
                li 
                    b Período:   
                    p #{comp.periodo}
                li 
                    b dataNasc:   
                    p #{comp.dataNasc}
                li 
                    b dataObito: 
                    p #{comp.dataObito}
                li 
                    b Biografia:
                    p #{comp.bio}